header {
  background-color: #00C5FF;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  padding-left: 150px;
}
.login-information {
  border: 1px solid;
  border-color: rgb(94, 233, 238);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}